

.colorSquare {
    display: inline-block;
    width: 20px; /* was 16 x 16 */
    height: 20px;
    margin-right: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    vertical-align: middle;
  }


body.activeModal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    /*width: 100%;
    height: 100%;*/
}

/*.openModal {
    position: absolte;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 500px;
}*/

.openModal:hover {
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    /*max-height: 90vh;*/
    width: 90%;
    transform: translate(-50%, -50%);
    /*line-height: 1.4;*/
    background: white;
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 480px;
    min-width: 320px;
    border-color: white;
    border-style: solid;
}

.closeModal {
    border: none;
    background: transparent;
    font-size: 1rem;
    float: right;
    cursor: pointer;
  }

.closeModal:hover {
    color: red;
}

.catagoryTitle {
    text-align: center;
    padding-left: 0.5em;
    margin-bottom: 0;
    margin-top: 0.25em;
}

.catagoryAll {
    display: flex;
    flex-direction: column;
    color: black;
    /*border-style: solid;*/

    padding-right: 0.5em;
    /*align-items: center;
    justify-content: center;*/
}

.catagoryList {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catagoryEditIcon {
    max-height: 0.6em;
    margin-left: 0.5em;
}

.catagoryEditIcon:hover {
    cursor: pointer;
}

.catagoryItem {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3em 0;
    width: 50%;
}