
body.activeModal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

/*.openModal {
    position: absolte;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 500px;
}*/

.openModal:hover {
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /*line-height: 1.4;*/
    border-radius: 0.75rem;
    background: white;
    padding: 2rem;
    max-width: 480px;
    min-width: 320px;
    border-color: white;
    border-style: solid;
}

.closeModal {
    border: none;
    background: transparent;
    font-size: 1rem;
    float: right;
    cursor: pointer;
  }

.closeModal:hover {
    color: red;
}
