.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
  
  .modalContent {
    position: relative;
    background: white;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    z-index: 11;
    border-radius: 10px;
    text-align: center;
  }