
.miniLogo {
    width: 260px;
    height: auto;
}

.navContainer {
    /*background-color: whitesmoke;*/
    /*background-color: rgb(17, 63, 97);*/
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    /*box-shadow: 5px 5px 5px black;*/  /* Shadow on nav bar */
    border-style: solid;
    border-width: 0.2em;
    z-index: 2000;
}

.navList {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    padding: 0;
    margin: 0;
    align-items: stretch;
    justify-items: center;
}


.navListBottom {
    list-style: none;
    display: flex;
    margin-bottom: 0.5em;
    /*margin-top: auto;*/
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content: flex-end;
    justify-items: center;
  }

.navContent {
    display: flex;
    align-items: center;
    width: 100%;
}

.navItem {
    position: relative;
    width: 100%;
    padding: 12px 0;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    border-style: solid;
    border-color: transparent;
}


.navItem:hover {
    background-color: #D5DBE4;
    border-color: black;
    cursor: pointer;

}

.navItem.active {
    transition: background-color 0.3s ease;
    background-color: #AEB6BF;
    border-color: black;
}

/* triangle indicator */
.navItem.active::after {
    content: "";
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid white;
    filter: drop-shadow(-2px 2px 3px rgba(0, 0, 0, 0.2));
}


span {
    color: black;
    padding-left: 10px;

}

.icons {
    height: 32px;
    width: 32px;
    margin-left: 10px;
}

.navMenuContent {
    display: flex;
    align-items: center;
    width: 100%;
}


.Logout {
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    color: black;
    padding-left: 10px;
}

.logoutButton {
    width: 100%;
    padding: 12px 0;
    transition: border-color 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    border-style: solid;
    border-color: transparent;
    display: flex;
    font-family: inherit;

}

.logoutButton span {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif !important;
}

.logoutButton:hover {
    background-color: #D5DBE4;
    border-color: black;
    cursor: pointer;

}

.logoutButton.active {
    transition: background-color 0.3s ease;
    background-color: #AEB6BF;
    border-color: black;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 50;
  }
  /*
  .overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }*/
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }
  
  .modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 90vh;
    width: 90%;
    overflow-y: auto;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2rem;
    border-radius: 0.75rem;
    min-width: 320px;
    max-width: 480px;
  }
  
  .closeModal {
    border: none;
    background: transparent;
    font-size: 1rem;
    float: right;
    cursor: pointer;
  }

  .closeModal:hover {
    color: red;
  }