.calendar {
    display: flex;
    flex-direction: column;
    padding-left: 260px; /* NavBar width */
    /*width: calc(100% - 260px);*/
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #F9FAFB;
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #e9ecef;

}

.calendar h1 {
    /*padding: 1.5rem;*/
    margin: 0;
    color: #2c3e50;
    font-size: 2rem;
    font-weight: 600;
}