.calendar {
    display: flex;
    flex-direction: column;
    padding-left: 260px; /* Account for NavBar width */
    width: calc(100% - 260px); /* Subtract NavBar width from total width */
    box-sizing: border-box;
    min-height: 100vh;
    background-color: #F9FAFB;
}

.calendar h1 {
    padding: 1.5rem;
    margin: 0;
    color: #111827;
    font-size: 1.875rem;
    font-weight: 600;
}