
.taskForm > * + * {
    margin-top: 1rem;
    text-align: left;
}


.addButton {
    /*position: absolute;*/
    /*display: flex;
    right: 50%;*/
    display: block;
    margin: 1rem auto 0 auto; /* Top | Horizontal | Bottom */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.newTaskTitle {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.radioGroup {
    display: flex;
}
