body.activeModal {
    overflow-y: hidden;
    padding-right: 0; 
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.modal {
    z-index: 50;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*.openModal {
    position: absolte;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 500px;
}*/

.openModal:hover {
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /*line-height: 1.4;*/
    background: white;
    padding: 2rem;
    border-radius: 0.75rem;
    max-width: 480px;
    min-width: 320px;
    border-color: white;
    border-style: solid;
    /*z-index: 1001;*/
    /*max-height: 90vh;*/
    overflow-y: auto; 
}

.closeModal {
    border: none;
    background: transparent;
    font-size: 1rem;
    float: right;
    cursor: pointer;
}

.closeModal:hover {
    color: red;
}

.taskGrid {
    margin-top: 33vh;
}

.taskList {
    size: 30px;
    color: black;
    border-style: solid;
}
/*
.taskPage {
    margin-left: 260px;
    padding: 1rem;
}*/

.addTaskButton {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: 500;
    
}

.addTaskButton {
    background: #28a745;
    color: white;
}


.addTaskButton:hover {
    background: #218838;
    transform: translateY(-1px);
}
