body.activeModal {
    overflow-y: hidden;
    padding-right: 0; 
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
}

.overlay {
    background: rgba(49, 49, 49, 0.8)
}

/*.openModal {
    position: absolte;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 500px;
}*/

.openModal:hover {
    cursor: pointer;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #282c34;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    border-color: white;
    border-style: solid;
    z-index: 1001;
    max-height: 90vh;
    overflow-y: auto; 
}

.closeModal {
    color: blue;
}

.closeModal:hover {
    cursor: pointer;
}

.taskGrid {
    margin-top: 33vh;
}

.taskList {
    size: 30px;
    color: black;
    border-style: solid;
}

.taskPage {
    margin-left: 260px;
    padding: 1rem;
}
